h1{
    padding: 50px;
}
.last{
    padding: 50px;
    border-radius: 20px;
    border: solid black 2px;
    box-shadow: 10px 10px 30px;
    margin: 20px;
}
.new{
    padding: 30px;
    margin-top: 70px;
    border-radius: 20px;
    border: solid black 2px;
    box-shadow: 10px 10px 30px;
}
body{
    padding: 20px;
    margin: auto;
    width: fit-content;
}
#enter{
    text-align: center;
}